<template>
  <table class="table-auto w-full text-center">
    <thead>
      <tr>
        <th
          v-for="column in header"
          :key="column"
          class="sticky top-0 px-4 py-2 gmc_dark_gray bg-white select-none"
          :class="[
            column.includes('(raw)') ? 'font-normal' : '',
            { 'cursor-pointer': allowSorting }
          ]"
          @click="updateSortParameters(column)"
        >
          {{ column }}
          <fa
            v-if="sortBy === column"
            :icon="sortOrder === 'asc' ? 'sort-amount-up-alt' : 'sort-amount-down'"
            class="fa-1x text-gmc_red"
          />
        </th>
      </tr>
    </thead>
    <tbody class="overflow-y-auto">
      <tr v-for="(reading, index) in rows" :key="index" class="odd:bg-gmc_white even:bg-white">
        <td class="border w-64 text-gmc_dark_grey px-4 py-2">
          {{ formatDate(index) }}
        </td>
        <td
          v-for="column in header.slice(1)"
          :key="column"
          class="border text-gmc_dark_grey px-4 py-2"
        >
          {{ reading[column] }}
        </td>
      </tr>
    </tbody>
  </table>
</template>


