

Skip to content
GitLab
Dashboard
Menu
New...
Search
Issues
Merge requests
To-Do List
Help
Sivakumar Chid
geomotion-front
Project information
Repository
Issues
Merge requests
CI/CD
Security & Compliance
Deployments
Monitor
Infrastructure
Packages & Registries
Analytics
Wiki
Snippets
Settings
Toggle sidebar
To get missing image descriptions, open the context menu.geomotion-research
geomotion-frontgeomotion-front
master
geomotion-front
/
components
/
summary
/
Overview.vue
Find fileBlameHistoryPermalink
gimzingfixed readings page partial paginator, still need to look at the combined paginator
Luka Peric authored 1 month ago
7473cdac
Copy commit SHA
Overview.vue
Copy file path
6.91 KiB
Open in Web IDE
Toggle dropdown
Replace
Delete
Copy file contents
Open raw
Download
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
<template>
  <div class="w-full h-full overflow-x-hidden m-0 bg-white text-xs p-2">
    <NoDataMessage v-if="numberOfSelectedInstruments === 0">
      Select instrument from search
    </NoDataMessage>
    <table v-if="numberOfSelectedInstruments > 0" class="table-auto w-full text-center">
      <thead>
        <tr class="bg-white select-none">
          <th class="sticky bg-white top-0 text-xs text-gmc_dark_gray px-4 py-2">Name</th>
          <th
            v-if="selectionState.project.display_instrument_id"
            class="sticky bg-white top-0 text-xs text-gmc_dark_gray px-4 py-2"
          >
            ID
          </th>
          <th class="sticky bg-white top-0 text-xs text-gmc_dark_gray px-4 py-2">Model</th>
          <th class="sticky bg-white top-0 text-xs text-gmc_dark_gray px-4 py-2">Latitude</th>
          <th class="sticky bg-white top-0 text-xs text-gmc_dark_gray px-4 py-2">Longitude</th>
          <!-- <th class="sticky bg-white top-0 text-xs text-gmc_dark_gray px-4 py-2 ">Calibration factors</th> -->
          <th class="sticky bg-white top-0 text-xs text-gmc_dark_gray px-4 py-2">
            Last reading timestamp
          </th>
          <th class="sticky bg-white top-0 text-xs text-gmc_dark_gray px-4 py-2">
            Last reading value
          </th>
          <th class="sticky bg-white text-xs text-gmc_dark_gray px-4 py-2">Documents</th>
        </tr>
      </thead>
      <tbody class="overflow-y-auto">
        <tr
          v-for="instrument in paginatedContent"
          :key="instrument.name"
          class="even:bg-gmc_white odd:bg-white h-12"
        >
          <td class="border text-xs text-gmc_dark_gray px-4 py-2">{{ instrument.name }}</td>
          <td
            v-if="selectionState.project.display_instrument_id"
            class="border text-xs text-gmc_dark_gray px-4 py-2"
          >
            {{ instrument.id }}
          </td>
          <td class="border text-xs text-gmc_dark_gray px-4 py-2">
            {{ instrument.instrument_model ? instrument.instrument_model.name : '' }}
          </td>
          <td class="border text-xs text-gmc_dark_gray px-4 py-2">
            {{ instrument.position ? instrument.position.latitude.toFixed(6) : '' }}
          </td>
          <td class="border text-xs text-gmc_dark_gray px-4 py-2">
            {{ instrument.position ? instrument.position.longitude.toFixed(6) : '' }}
          </td>
          <td class="border text-xs text-gmc_dark_gray px-4 py-2">
            {{ formatTimestamp(instrument.last_reading_timestamp) }}
          </td>
          <td class="border text-xs text-gmc_dark_gray px-4 py-2">
            <table>
              <tr v-for="(value, index) in instrument.last_reading_value" :key="index">
                <td class="text-left">{{ index + ':&nbsp;&nbsp;' }}</td>
                <td class="text-left">
                  {{ utils.round(value, index, instrument) }} {{ utils.getUnit(index, instrument) }}
                </td>
              </tr>
            </table>
          </td>
          <td class="border text-xs text-gmc_dark_gray px-4 pb-2 pt-4">
            <div
              v-for="(dir, indexi) in rootDir[instrument.id]"
              :key="indexi"
              class="text-left pb-4"
            >
              <p class="mb-1">(no category)</p>
              <ul>
                <li v-for="(file, indexj) in dir" :key="`${indexi}-${indexj}`" class="pl-3">
                  <a class="hover:text-gmc_light_gray" :href="file" target="_blank">
                    <fa :icon="'external-link-alt'" class="" /> {{ decodeURI(indexj) }}
                  </a>
                </li>
              </ul>
            </div>
            <div
              v-for="(dir, indexi) in fileTree[instrument.id]"
              :key="indexi"
              class="text-left pb-4"
            >
              <p class="mb-1">{{ decodeURI(indexi) }}</p>
              <ul>
                <li v-for="(file, indexj) in dir" :key="`${indexi}-${indexj}`" class="pl-3">
                  <a class="hover:text-gmc_light_gray" :href="file" target="_blank">
                    <fa :icon="'external-link-alt'" class="" /> {{ decodeURI(indexj) }}
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <Pagination
      v-if="numberOfSelectedInstruments > 0"
      :per-page="perPage"
      :content="content"
      @update-paginated-content="updatePaginatedContent"
    />
  </div>
</template>
<script>
import NoDataMessage from '~/components/utility/NoDataMessage';
import Pagination from '~/components/utility/Pagination';
import moment from 'moment-timezone';
import * as utils from '~/utils/utils';
import { mapGetters, mapState } from 'vuex';
export default {
  components: {
    NoDataMessage,
    Pagination
  },
  data() {
    return {
      utils,
      paginatedContent: [],
      perPage: 30
    };
  },
  computed: {
    content() {
      return Object.values(this.selectedInstruments);
    },
    fileTree() {
      let tree = {};
      for (let instrument in this.selectedInstruments) {
        tree[instrument] = {};
        for (let document of this.selectedInstruments[instrument].documents) {
          let fullUrlComponents = document.file.split('/');
          let pathComponents = fullUrlComponents.slice(fullUrlComponents.indexOf('documents') + 1);
          let filename = pathComponents.pop();
          let dir = pathComponents.slice(1).join('/');
          if (dir) {
            if (!(dir in tree[instrument])) {
              tree[instrument][dir] = {};
            }
            tree[instrument][dir][filename] = document.file;
          }
        }
      }
      return tree;
    },
    rootDir() {
      let tree = {};
      for (let instrument in this.selectedInstruments) {
        tree[instrument] = {};
        for (let document of this.selectedInstruments[instrument].documents) {
          let fullUrlComponents = document.file.split('/');
          let pathComponents = fullUrlComponents.slice(fullUrlComponents.indexOf('documents') + 1);
          let filename = pathComponents.pop();
          let dir = pathComponents.slice(1).join('/');
          if (!dir) {
            if (!(dir in tree[instrument])) {
              tree[instrument][dir] = {};
            }
            tree[instrument][dir][filename] = document.file;
          }
        }
      }
      return tree;
    },
    ...mapState({
      selectionState: (state) => state.selection,
      instruments: (state) => Object.values(state.selection.instruments)
    }),
    ...mapGetters({
      selectedInstruments: 'selection/selectedInstruments',
      numberOfSelectedInstruments: 'selection/numberOfSelectedInstruments'
    })
  },
  methods: {
    updatePaginatedContent(content) {
      this.paginatedContent = content;
    },
    formatTimestamp(timestamp) {
      if (timestamp) {
        return moment
          .tz(timestamp, this.selectionState.project.timezone)
          .format('YYYY-MM-DD HH:mm:ss');
      }
    }
  }
};
</script>

